baudrate 19200
serialport /dev/ttys007
init-bang-button 1
2nd-bank-enabled-button 2
decrease-volume-button 3
increase-volume-button 4
mute-volume-button 5
track-ctrl-1-button 6
track-ctrl-2-button 7
track-ctrl-3-button 8
track-ctrl-4-button 9
track-speed-1-button 10
track-speed-2-button 11
track-speed-3-button 12
track-speed-4-button 13