config-sample-filename 1 samples2/04_bubbles.wav
config-sample-filename 2 samples2/08_fire_truck.wav
config-sample-filename 3 samples2/07_domestic_fight.wav
config-sample-filename 4 samples2/10_kuranty.wav
config-sample-filename 5 samples2/01_lavra.wav
config-sample-filename 6 samples2/12_nokia_tune_ringtone.wav
config-sample-filename 7 samples2/03_angry_birds.wav
config-sample-filename 8 samples2/17_soldiers_marching.wav
