config-serialport baudrate 9600
config-serialport serialport /dev/ttyAMA0
config-serialport init-bang 1
config-serialport 2nd-bank-enabled 2
config-serialport select-track 1 3
config-serialport select-track 2 4
config-serialport select-track 3 5
config-serialport select-track 4 6
config-serialport decrease-volume 7
config-serialport increase-volume 8
config-serialport decrease-speed 9
config-serialport increase-speed 10
config-serialport start-stop 11
config-serialport mute-volume 12
