config-midi-note init-bang 36
config-midi-note 2nd-bank-enabled 47
config-midi-note decrease-volume 48
config-midi-note increase-volume 50
config-midi-note mute-volume 49
config-midi-note select-track 1 60
config-midi-note select-track 2 62
config-midi-note select-track 3 64
config-midi-note select-track 4 65
config-midi-note decrease-speed 52
config-midi-note increase-speed 53
config-midi-note start-stop 55