config-serialport baudrate 19200
config-serialport serialport /dev/ttys005
config-serialport init-bang 1
config-serialport 2nd-bank-enabled 2
config-serialport decrease-volume 3
config-serialport increase-volume 4
config-serialport mute-volume 5
config-serialport select-track 1 6
config-serialport select-track 2 7
config-serialport select-track 3 8
config-serialport select-track 4 9
config-serialport decrease-speed 10
config-serialport increase-speed 11
config-serialport start-stop 12